:root {
  --text-color: #757575;
  --background-color: #fff;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a,
footer {
  text-decoration: none;
}
body {
  width: 1600px;
  color: var(--text-color);
  background-color: var(--background-color);
  line-height: 1.2;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

ul {
  list-style: none;
  display: flex;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-left: 215px;
  padding-right: 215px;
  border-bottom: 1px solid #ececec;
}

.web {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
  letter-spacing: 0.03em;
}
.studio {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: black;
  letter-spacing: 0.03em;
  padding-right: 93px;
}

.nav-section-list {
  width: 294px;
  justify-content: space-between;
}
.header-list {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-list:hover,
.header-list:focus {
  color: #2196f3;
}
.contact:hover,
.contact:focus {
  color: #2196f3;
}

.header-contact {
  margin-left: auto;
}
.header-contact-item {
  padding-right: 50px;
}
.header-contact-item:nth-last-child(-n + 1) {
  padding-right: 0;
}
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.hero {
  background-color: #2f303a;
  height: 600px;
  text-align: center;
}
.hero-title {
  padding: 200px 452px 0px 452px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.hero-title-button {
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
  cursor: pointer;
  padding: 10px 32px 10px 32px;
  min-width: 200px;
  text-align: center;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.advatn {
}
.advant-main {
  padding: 94px 215px 94px 215px;
  display: flex;
}

.advant-main-list {
  padding-right: 30px;
  flex-wrap: wrap;
  width: calc(100% - 90px / 4);
}
.advant-main-list:nth-last-child(-n + 1) {
  padding-right: 0;
}
.rezerv {
  visibility: hidden;
}
.advatn-list {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.advatn-list-invent {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.our-work {
  padding: 94px 215px;
}
.our-work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 50px;
}
.our-work-img {
  display: flex;
}
.our-work-list {
  padding-right: 30px;
}
.our-work-list:nth-last-child(-n + 1) {
  padding-right: 0;
}
.our-team {
  background: #f5f4fa;
}
.our-team-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
}

.our-team-title-list {
  flex-direction: row;
  padding-left: 215px;
  padding-right: 215px;
  padding-bottom: 94px;
  text-align: center;
}
.our-team-list {
  justify-content: center;
  background: #fff;
  width: calc(100% / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-list:nth-last-child(-n + 1) {
  margin-right: 0;
}
.our-team-list-img {
  padding-bottom: 30px;
}
.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  color: #212121;
}
.our-team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}
.footer {
  outline: 1px solid blueviolet;
  background: #2f303a;
  height: 252px;
}
.footerlogo {
  padding-top: 60px;
  padding-left: 215px;
}
.footerstudio {
  outline: 1px solid blueviolet;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2em;
  color: #fff;
  letter-spacing: 0.03em;
}
.footeraddres {
  outline: 1px solid blueviolet;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
  outline: 1px solid blueviolet;
  padding-left: 215px;
}
.address {
  padding-bottom: 9px;
}
.footeraddres-list {
  outline: 1px solid blueviolet;
  display: inline;
  padding-bottom: 9px;
}
.footeraddres-list:nth-last-child(-n + 1) {
  padding-bottom: 0;
}
.footercontact {
  outline: 1px solid blueviolet;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/* .footeraddres-list-item {
  padding-bottom: 9px;
} */
/* .footeraddres-list-item:nth-last-child(-n + 1) {
  padding-bottom: 0;
} */
.footercontact:hover,
.footercontact:focus {
  color: #2196f3;
}

.main-conteiner {
  width: 1170px;
  justify-content: center;
  list-style: none;
  margin-left: 215px;
  margin-right: 215px;
}
.portfolio-filter {
  flex-direction: row;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 34px;
}
.portfolio-button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
}
.button-item {
  flex-direction: row;
  justify-content: center;
  margin-right: 8px;
}

.button-item:nth-last-child(-n + 1) {
  margin-right: 0;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #fff;
  background-color: #2196f3;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  padding-bottom: 94px;
}
.portfolio-item {
  display: flex;
  flex-direction: inherit;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item-img {
  width: 370;
}
.portfolio-list-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
}
.portfolio-list-item {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.border {
  padding: 25px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
